<header id="sp-header-wrapper" class=" "><div class="container"><div class="row-fluid" id="header">
<div id="sp-logo" class="span6 text-left"><div class="logo-wrapper"><a href="#"><img alt="" class="image-logo" src="./assets/images/logo.png"></a></div></div>

<div id="sp-menu" class="span6">


			<div id="sp-main-menu" class="visible-desktop">
				<ul class="sp-menu level-0">
                         <li class="menu-item first">
                              <a scrollTo scrollTargetSelector="#sp-slideshow-wrapper" class="menu-item first current">
                                   <span class="menu"><span class="menu-title">Home</span></span>
                              </a>
                         </li>
                         <li class="menu-item">
                              <a scrollTo scrollTargetSelector="#sp-about-us-wrapper" class="menu-item">
                                   <span class="menu"><span class="menu-title">About</span></span>
                              </a>
                         </li>
                         <li class="menu-item">
                              <a scrollTo scrollTargetSelector="#sp-contact-wrapper" class="menu-item">
                                   <span class="menu"><span class="menu-title">Contact</span></span>
                              </a>
                         </li>
                    </ul>
			</div>
			</div>
</div></div></header>
