<footer id="sp-footer-wrapper" class=" "><div class="container"><div class="row-fluid" id="footer">
<div id="sp-footer1" class="span11">

<div class="custom">
	<p><span style="line-height: 1.3em;">
		<a href="https://www.facebook.com/Welloculus-306001339854927" target="  " class="btn btn-link social facebook btn-"><i style="" class="icon-facebook "></i></a>&nbsp;
		<a href="https://github.com/welloculus" target="  " class="btn btn-link social github"><i style="" class="icon-github "></i></a>
		<a href="https://www.linkedin.com/company-beta/13332395" target="  " class="btn btn-link social linkedin btn-"><i style="" class="icon-linkedin "></i></a>
		<a href="https://welloculus.github.io/Cockpit/public" target="  " class="btn btn-link social" title="Cockpit"><i style="" class="icon-cog"></i></a>
		<a href="https://hub.docker.com/r/welloculus/rtawelloculus/" target="_blank" class="btn btn-link social" title="Docker"><i style="" class="icon-th"></i></a>
		<a href="javascript:void(0);" target="" class="btn btn-link social" title="Real Time Analysis"><i class="icon-bar-chart"></i></a>
	</span></p></div>
</div>
<div id="sp-footer2" class="span1"><a class="sp-totop" scrollTo scrollTargetSelector="#sp-slideshow-wrapper" title="Goto Top" rel="nofollow"><small>Goto Top </small><i class="icon-caret-up"></i></a></div>
</div></div></footer>
<section id="sp-footerbottom-wrapper" class=" "><div class="container"><div class="row-fluid" id="footerbottom">
<div id="sp-footerbottom" class="span12"><span class="copyright">Copyright ©  2017 Welloculus. All Rights Reserved.</span><span class="designed-by"> Developed by <a href="http://www.transility.com" target=" ">www.transility.com</a></span></div>
</div></div></section>
<a class="hidden-desktop btn btn-inverse sp-main-menu-toggler" href="#" data-toggle="collapse" data-target=".nav-collapse">
			<i class="icon-align-justify"></i>
		</a>

          <div class="hidden-desktop sp-mobile-menu nav-collapse collapse">
          			<ul class=""><li class="menu-item first"><a href="#sp-slideshow-wrapper" class="menu-item first"><span class="menu"><span class="menu-title">Home</span></span></a></li><li class="menu-item"><a href="#sp-about-us-wrapper" class="menu-item"><span class="menu"><span class="menu-title">About</span></span></a></li><li class="menu-item"><a href="#sp-contact-wrapper" class="menu-item"><span class="menu"><span class="menu-title">Contact</span></span></a></li><li class="menu-item"><a href="#login" class="menu-item"><span class="menu"><span class="menu-title">Login</span></span></a></li><li class="menu-item last"><a href="#sp-services-wrapper" class="menu-item last"><span class="menu"><span class="menu-title">Registration</span></span></a></li></ul>
          		</div>
