<section id="sp-services-wrapper" class=" "><div class="container"><div class="row-fluid" id="services">
<div id="sp-service" class="span12">	<div class="module ">
		<div class="mod-wrapper clearfix">
							<h3 class="mod_header">
					Join Welloculus				</h3>
										<div class="mod-content clearfix">
				<div class="mod-inner clearfix">
						<div class="tm-service-main">
		<p style="text-transform:uppercase;"><strong></strong></p>
		<p class="title_desc"></p>
		<div class="row-fluid">
               <div class="span1 registration_type" reg-type="login">
   <div class="tm-service-inner"  style="display:none;">
         <img src="./assets/images/services/login.png" alt="Login">
         <h4>Login</h4>
         <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
   </div>
</div>

							 <div class="span3 registration_type" reg-type="providers">
					<div class="tm-service-inner">
						<img src="./assets/images/services/provider.png" alt="Providers">
						<h4>Providers</h4>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
				</div>
							 <div class="span3 registration_type" reg-type="suppliers">
					<div class="tm-service-inner">
						<img src="./assets/images/services/supplier.png" alt="Suppliers">
						<h4>Suppliers</h4>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
				</div>
							 <div class="span3 registration_type" reg-type="facilitators">
					<div class="tm-service-inner">
						<img src="./assets/images/services/facilitator.png" alt="Facilitators">
						<h4>Facilitators</h4>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
				</div>
					</div>
	</div>

				</div>
			</div>
		</div>
	</div>
	<div class="gap"></div>
	</div>
</div></div></section>
