          <section id="sp-slideshow-wrapper" class=" ">
          <div class="row-fluid" id="slideshow">
             <div id="sp-slider" class="span12">
             <div id="slideshow-carousel" class="carousel slide  ">
                 <div class="carousel-inner">
                         <div class="item active">
                                <img style="border: 0;" [src]="bgImg1" alt="">
                                <div class="carousel-caption_">
                                     <div class="carousel-caption first-video"><img class="slider-video-img" [src]="user_details.bgimage">
                                      <p class="video_button" (click)="showChildModal(user_details)">
                                           <!-- START: Modals -->
                                           <a href="#" class="modal_link cboxElement" data-modal-inner-width="1000" data-modal-inner-height="600" [title]="user_details.title" data-modal-iframe="true" data-modal-video="true" data-modal-done="1"></a>
                                           <!-- END: Modals -->
                                      </p>
                                      </div>
                                 </div>
                           </div>
                           <div class="item">
                                <img style="border: 0;" [src]="bgImg2" alt="">
                                <div class="carousel-caption_">
                                   <div class="carousel-caption second-video"><img class="slider-video-img" [src]="provider_details.bgimage">
                                        <p class="video_button" (click)="showChildModal(provider_details)">
                                             <!-- START: Modals -->
                                             <a href="#" class="modal_link cboxElement" data-modal-inner-width="1000" data-modal-inner-height="600" [title]="provider_details.title" data-modal-iframe="true" data-modal-video="true" data-modal-done="1"></a>
                                             <!-- END: Modals -->
                                        </p>
                                   </div>
                              </div>
                           </div>

                           <div class="item">
                                <img style="border: 0;"  [src]="bgImg3" alt="">
                                <div class="carousel-caption_">
                                   <div class="carousel-caption second-video"><img class="slider-video-img" [src]="caretaker_details.bgimage">
                                        <p class="video_button" (click)="showChildModal(caretaker_details)">
                                             <!-- START: Modals -->
                                             <a href="#" class="modal_link cboxElement" data-modal-inner-width="1000" data-modal-inner-height="600" [title]="caretaker_details.title" data-modal-iframe="true" data-modal-video="true" data-modal-done="1"></a>
                                             <!-- END: Modals -->
                                        </p>
                                   </div>
                              </div>
                           </div>
                           </div>
                 <a class="carousel-control left" scrollTo href="#slideshow-carousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
                 <a class="carousel-control right" scrollTo href="#slideshow-carousel" data-slide="next"><i class="icon-chevron-right"></i></a>
             </div>
             </div>
          </div>
          </section>

          <div bsModal #childModal="bs-modal" class="modal fade slideshowModal"  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Child modal</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe width="100%" height="100%"></iframe>
                </div>
              </div>
            </div>
          </div>
