<section id="sp-about-us-wrapper" class=" wow bounceIn "><div class="container"><div class="row-fluid" id="about-us">
<div id="sp-about" class="span12">	<div class="module ">
		<div class="mod-wrapper clearfix">
							<h3 class="mod_header">
					About Us				</h3>
										<div class="mod-content clearfix">
				<div class="mod-inner clearfix">
						<div class="tm-about-main">
		<p class="title_desc">Welloculus is designed to care about the health of its users not only in a day-to-day life, but also when they need us the most, that is in emergency situations. We are involved in complete lifecycle of healthcare monitoring from keeping an eye on the vital statistics to analysis and reporting for the betterment of society on larger picture. As our name indicates, we proctor the well-being of every individual who is linked to us via their mobile and health monitoring devices.

Welloculus is originated by Transility, an ‘end-to-end’ product development and IT solution providing concern, engaging on development, integration and implementation of Software for Healthcare. Transility has been working with some of the leading healthcare companies, offering its technology expertise and experience.For more information, visit:<a href="http://transility.com/" target="_blank"> http://transility.com</a></p>
		<span class="sub-title1">Meet the team</span>
		<div class="row-fluid">
							 <div class="span3">
					<div class="tm-about-inner">
						<img src="./assets/images/about/about1.png" alt="Anton Petrov">
						<h4>Anton Petrov</h4>
						<strong class="tm-about-desg">General manager</strong>
						<ul>
							<li class="tm-about-f"><a href="https://www.facebook.com/pcmshaper" class="btn btn-link social facebook"><i style="" class="icon-facebook "></i></a></li>
							<li class="tm-about-t"><a href="https://www.twitter.com/pcmshaper" class="btn btn-link social twitter"><i style="" class="icon-twitter "></i></a></li>
							<li class="tm-about-gp"><a href="https://plus.google.com/+PCMShaper" class="btn btn-link social gplus"><i style="" class="icon-google-plus "></i></a></li>
							<li class="tm-about-in"><a href="/welloculus/" class="btn btn-link social linkedin"><i style="" class="icon-linkedin "></i></a></li>
						</ul>
					</div>
				</div>
							 <div class="span3">
					<div class="tm-about-inner">
						<img src="./assets/images/about/about2.png" alt="Kirl DONCHEV">
						<h4>Kirl DONCHEV</h4>
						<strong class="tm-about-desg">Design Master</strong>
						<ul>
							<li class="tm-about-f"><a href="https://www.facebook.com/pcmshaper" class="btn btn-link social facebook"><i style="" class="icon-facebook "></i></a></li>
							<li class="tm-about-t"><a href="https://www.twitter.com/pcmshaper" class="btn btn-link social twitter"><i style="" class="icon-twitter "></i></a></li>
							<li class="tm-about-gp"><a href="/welloculus/" class="btn btn-link social gplus"><i style="" class="icon-google-plus "></i></a></li>
							<li class="tm-about-in"><a href="/welloculus/" class="btn btn-link social linkedin"><i style="" class="icon-linkedin "></i></a></li>
						</ul>
					</div>
				</div>
							 <div class="span3">
					<div class="tm-about-inner">
						<img src="./assets/images/about/about3.png" alt="Ilian Bonev">
						<h4>Ilian Bonev</h4>
						<strong class="tm-about-desg">Developer Ninja</strong>
						<ul>
							<li class="tm-about-f"><a href="https://www.facebook.com/pcmshaper" class="btn btn-link social facebook"><i style="" class="icon-facebook "></i></a></li>
							<li class="tm-about-t"><a href="https://www.twitter.com/pcmshaper" class="btn btn-link social twitter"><i style="" class="icon-twitter "></i></a></li>
							<li class="tm-about-gp"><a href="https://plus.google.com/+PCMShaper" class="btn btn-link social gplus"><i style="" class="icon-google-plus "></i></a></li>
							<li class="tm-about-in"><a href="/welloculus/" class="btn btn-link social linkedin"><i style="" class="icon-linkedin "></i></a></li>
						</ul>
					</div>
				</div>
							 <div class="span3">
					<div class="tm-about-inner">
						<img src="./assets/images/about/about4.png" alt="Doni Stamov">
						<h4>Doni Stamov</h4>
						<strong class="tm-about-desg">SEO guru</strong>
						<ul>
							<li class="tm-about-f"><a href="https://www.facebook.com/pcmshaper" class="btn btn-link social facebook"><i style="" class="icon-facebook "></i></a></li>
							<li class="tm-about-t"><a href="https://www.twitter.com/pcmshaper" class="btn btn-link social twitter"><i style="" class="icon-twitter "></i></a></li>
							<li class="tm-about-gp"><a href="https://plus.google.com/+PCMShaper" class="btn btn-link social gplus"><i style="" class="icon-google-plus "></i></a></li>
							<li class="tm-about-in"><a href="/welloculus/" class="btn btn-link social linkedin"><i style="" class="icon-linkedin "></i></a></li>
						</ul>
					</div>
				</div>
					</div>
	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gap"></div>
	</div>
</div></div></section>
